<launch>
	<arg name="map_file" default="$(find dwa)/stage/AddverbMap.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>


    <node name="stage" pkg="stage_ros" type="stageros" args="$(find dwa)/stage/AddverbMap.world" />
	
	<node name="central_server" pkg="dwa" type="central_server.py" output="screen" ns="server"/>
	<node name="rob0" pkg="dwa" type="rob.py" ns="robot_0" output="screen"/>
	<node name="rob1" pkg="dwa" type="rob.py" ns="robot_1" output="screen"/>
	<node name="rob2" pkg="dwa" type="rob.py" ns="robot_2" output="screen"/>
	<node name="rob3" pkg="dwa" type="rob.py" ns="robot_3" output="screen"/>
	<node name="rob4" pkg="dwa" type="rob.py" ns="robot_4" output="screen"/>
	<node name="rob5" pkg="dwa" type="rob.py" ns="robot_5" output="screen"/>
	<node name="rob6" pkg="dwa" type="rob.py" ns="robot_6" output="screen"/>
	<node name="rob7" pkg="dwa" type="rob.py" ns="robot_7" output="screen"/>
	<node name="rob8" pkg="dwa" type="rob.py" ns="robot_8" output="screen"/>
	<node name="rob9" pkg="dwa" type="rob.py" ns="robot_9" output="screen"/>
	<node name="rob10" pkg="dwa" type="rob.py" ns="robot_10" output="screen"/>
	
	<node name="rob11" pkg="dwa" type="rob.py" ns="robot_11" output="screen"/>  
	<node name="rob12" pkg="dwa" type="rob.py" ns="robot_12" output="screen"/>
	<node name="rob13" pkg="dwa" type="rob.py" ns="robot_13" output="screen"/>
	<node name="rob14" pkg="dwa" type="rob.py" ns="robot_14" output="screen"/>
	<node name="rob15" pkg="dwa" type="rob.py" ns="robot_15" output="screen"/>
	<node name="rob16" pkg="dwa" type="rob.py" ns="robot_16" output="screen"/>
	<node name="rob17" pkg="dwa" type="rob.py" ns="robot_17" output="screen"/>
	<node name="rob18" pkg="dwa" type="rob.py" ns="robot_18" output="screen"/>
	<node name="rob19" pkg="dwa" type="rob.py" ns="robot_19" output="screen"/>
	<node name="rob20" pkg="dwa" type="rob.py" ns="robot_20" output="screen"/>

	<node name="rob21" pkg="dwa" type="rob.py" ns="robot_21" output="screen"/>  
	<node name="rob22" pkg="dwa" type="rob.py" ns="robot_22" output="screen"/>
	<node name="rob23" pkg="dwa" type="rob.py" ns="robot_23" output="screen"/>
	<node name="rob24" pkg="dwa" type="rob.py" ns="robot_24" output="screen"/>
	<node name="rob25" pkg="dwa" type="rob.py" ns="robot_25" output="screen"/>
	<node name="rob26" pkg="dwa" type="rob.py" ns="robot_26" output="screen"/>
	<node name="rob27" pkg="dwa" type="rob.py" ns="robot_27" output="screen"/>
	<node name="rob28" pkg="dwa" type="rob.py" ns="robot_28" output="screen"/>
	<node name="rob29" pkg="dwa" type="rob.py" ns="robot_29" output="screen"/>
	<node name="rob30" pkg="dwa" type="rob.py" ns="robot_30" output="screen"/>
</launch>